<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="CONSOLE_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] %logger{36} : %msg%n"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- Your app logs -->
    <logger name="com.cafeshop.demo" level="INFO"/>

    <!-- If you want only PaymentService -->
    <!-- <logger name="com.cafeshop.demo.service.PaymentService" level="INFO"/> -->

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
